*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  /* scroll-behavior: smooth; */
}

body {
  font-size: 1.4rem;
  line-height: 1.3;
  font-family: "Montserrat", sans-serif, Arial;
  color: #000;
}

p {
  margin-bottom: 1.5em;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 7rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 5;
  min-width: 100%;
  transition: all 0.8 ease-in-out;
}

.header-hide .header {
  opacity: 0;
  height: 0;
  transition: all 0.7s ease;
}

.header-hide.header-fix .header {
  height: auto;
  opacity: 1;
}

.header-shadow {
  height: 10.5rem;
}

.header__logo {
  min-width: 13rem;
  max-width: 16.5rem;
}

.header__lang {
  width: 2rem;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 2rem;
}

.header__logoBlock {
  display: flex;
  align-items: center;
  margin-right: 7rem;
}

.nav {
  display: flex;
}

.header__navBlock {
  position: relative;
  top: 7px;
}

.nav__link {
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: #000;
  text-decoration: none;
  border-top: 1px solid transparent;
  margin-right: 4rem;
  text-align: left;
  max-width: 12rem;
  padding: 0.5rem 0 0 0;
}

.nav__link.active,
.nav__link:hover,
.nav__link:focus {
  border-top: 1px solid #ff2b00;
  color: #ff2b00;
}

.section-first {
  position: relative;
  min-height: 60rem;
}

/* .section5 {
  position: relative;
}

.section5 #splav {
  position: absolute;
  top: -150px;
}

.section10 {
  position: relative;
}

.section10 #payment {
  position: absolute;
  top: -150px;
} */

.zindex-logo {
  position: absolute;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  min-height: 100%;
}

.zindex-logo:before {
  content: "";
  display: block;
  position: absolute;
  right: -36rem;
  top: -8rem;
  width: 77rem;
  height: 45rem;
  background: url("../images/material.png") no-repeat center;
}

.zindex-text {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.metcom-img,
.metcom-img-tablet,
.metcom-img-phone {
  position: relative;
  width: 107%;
  max-width: inherit;
  left: -4.1%;
  margin-top: 8rem;
}

.first-work {
  position: absolute;
  display: block;
  top: 6.5rem;
  right: 23%;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2rem;
  width: 10rem;
}

.section-first__head {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 3.4rem;
  max-width: 57rem;
  margin: 17.9rem 0rem 0 -4.6rem;
}

.section-first__head div {
  background: rgba(255, 255, 255, 0.6);
  padding: 2.5rem 5rem;
}

.gramota-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 17rem;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: bold;
  margin-top: 40rem;
  margin-right: 10rem;
}

.gramota-list a:hover {
  color: red;
  transition: all 0.3s;
}

.gramota-list li {
  position: relative;
  margin-bottom: 2.4rem;
}

.gramota-list li:before {
  content: "";
  position: absolute;
  left: -4rem;
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  background: url("../images/gramota.svg") no-repeat center;
  background-size: 100%;
}

.zindex-text .container {
  display: flex;
  justify-content: space-between;
}

.section2 {
  margin-bottom: 10rem;
  overflow: hidden;
}

.advantage {
  position: relative;
  display: flex;
  font-size: 1.4rem;
  line-height: 145%;
  margin: 0 -1rem;
}

.advantage-column {
  flex-basis: 25rem;
  margin: 6rem 1rem 0rem 1rem;
}

.advantage-column.col1 {
  position: relative;
}

.advantage-column.col2 {
  margin-top: 0;
}

.advantage-column.col2::before {
}

.advantage-column.col4 {
  margin-top: 18rem;
}

.polyhed {
  position: absolute;
  top: 20.3rem;
  right: -6.7rem;
  height: 13.5rem;
  width: 13.5rem;
  padding: 3rem 1rem 1rem 2.5rem;
  color: #fff;
  background: url("../images/poly.svg") no-repeat center;
  background-size: 100%;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 130%;
}

.polyhed-sequence {
  width: 21rem;
  height: 21rem;
  bottom: -19rem;
  right: -1.5rem;
  top: 14rem;
  padding: 5.5rem 3rem 4rem 4.5rem;
  line-height: 1.4;
}

.advantage-column.col0,
.advantage-column.col5 {
  position: absolute;
  width: 25rem;
  background-size: 100%;
}

.col0 {
  left: -26.5rem;
  top: -12.5rem;
}

.col5 {
  right: -26.5rem;
  top: -12.5rem;
}

.section-header {
  margin-bottom: 2.3rem;
  text-transform: uppercase;
  font-size: 3.6rem;
  line-height: 4.4rem;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.subhead {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 2rem;
}

.advantage-production .advantage-column {
  margin-top: 1rem;
}

.advantage-column-head {
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.02em;
  font-weight: bold;
}

.section4 {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-top: 10.5rem;
  margin-bottom: 19rem;
}

.sequence {
  position: relative;
  counter-reset: sequence;
  display: flex;
  margin: 0;
  padding: 0;
}

.sequence-col {
  position: relative;
  flex-basis: 22rem;
  list-style-type: none;
  border-right: 2px solid #000;
  padding: 2rem 1rem;
  min-height: 16rem;
  font-size: 1.4rem;
  line-height: 145%;
}

.sequence-col-last {
  display: none;
}

.sequence-col:first-child {
  border-left: 2px solid #000;
}

.sequence-col:before {
  counter-increment: sequence;
  content: counter(sequence) ". ";
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: bold;
}

.periodic-head {
  display: flex;
  align-items: center;
  color: #ff2b00;
  font-size: 1.6rem;
  line-height: 140%;
  font-weight: bold;
  margin-bottom: 1rem;
}

.periodic-subhead {
  color: #000;
  margin-left: 1rem;
  font-size: 1rem;
  line-height: 1.2rem;
}

.periodic-table {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.periodic-table-container {
  display: flex;
}

.periodic-table-col {
  flex-basis: 8rem;
  border: 2px solid #000;
  margin-top: -2px;
  margin-bottom: -2px;
  margin-right: -2px;
  border-right-color: transparent;
}

.periodic-table-col:hover,
.periodic-table-col:focus {
  border-color: #ff2b00;
}

.periodic-table-col:hover + .periodic-table-col,
.periodic-table-col:focus + .periodic-table-col {
  border-left-color: transparent;
}

.periodic-table-col:hover .periodic-table-title,
.periodic-table-col:focus .periodic-table-title {
  background: #ff2b00;
  border-bottom-color: #ff2b00;
  color: #fff;
}

.periodic-table-col:last-child {
  border-right-color: #000;
}

.periodic-table-col:last-child:hover,
.periodic-table-col:last-child:focus {
  border-color: #ff2b00;
}

.periodic-table-col:last-child::before,
.periodic-table-col:last-child::after {
  left: -1000rem;
}

.periodic-table-title,
.periodic-table-text {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 0.4rem;
  white-space: nowrap;
  font-size: 1.4rem;
  line-height: 145%;
}

.periodic-table-title {
  border-bottom: 2px solid #000;
  font-weight: bold;
}

.periodic-one {
  margin: 3.5rem 0 5rem 0;
}

.periodic-multiline {
  margin: 2.5rem 0 5rem 0;
}

.columns {
  display: flex;
}

.columns-align-bottom {
  align-items: flex-end;
}

.columns-footer .columns-item {
  margin-bottom: 1rem;
}

.columns-p-none p {
  margin: 0;
}

.columns-wrap {
  flex-wrap: wrap;
}

.columns-contacts {
  align-items: center;
  line-height: 140%;
}

.columns-contacts a {
  text-decoration: none;
}

.columns > div {
  flex-basis: calc(50% - 2rem);
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.columns-logistic > div {
  flex-basis: 16rem;
}

.columns-four > div {
  flex-basis: calc(25% - 2rem);
}

.columns-logistic p:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.columns-text {
  min-height: 9rem;
}

.section5 {
  margin-bottom: 11.5rem;
}

.section6 {
  margin-bottom: 12.8rem;
}

.section7 .section-header {
  margin-bottom: 4rem;
}

.section7 {
  margin-bottom: 13.2rem;
}

.section8 {
  margin-bottom: 12.2rem;
}

.section8 .section-header {
  margin-bottom: 1rem;
}

.section8 .subhead {
  margin-bottom: 1rem;
}

.costumtable {
  line-height: 145%;
}

.costumtable-left-border .costumtable-head,
.costumtable-left-border .costumtable-line:last-child,
.costumtable-right-border .costumtable-head,
.costumtable-right-border .costumtable-line:last-child {
  position: relative;
}

.costumtable-left-border .costumtable-head:after,
.costumtable-left-border .costumtable-line:last-child:before,
.costumtable-right-border .costumtable-head:after,
.costumtable-right-border .costumtable-line:last-child:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: -1000rem;
  width: 1000rem;
  border-top: 2px solid #000;
}

.costumtable-right-border .costumtable-head:after,
.costumtable-right-border .costumtable-line:last-child:before {
  left: auto;
  right: -1000rem;
}

.costumtable-line {
  display: flex;
  align-items: center;
  border-top: 2px solid #000;
  cursor: default;
}

.costumtable-line:hover,
.costumtable-line:hover .costumtable-item,
.costumtable-line:hover + .costumtable-line {
  border-color: #ff2b00;
  border-bottom-color: #000;
}

.costumtable-line:hover .costumtable-item:first-child {
  background: #ff2b00;
  color: #fff;
}

.costumtable-head:hover .costumtable-item {
  border-left-color: transparent;
  border-right-color: transparent;
}

.costumtable-head:hover .costumtable-item:first-child {
  background-color: transparent;
  color: #000;
}
.costumtable-head:hover,
.costumtable-head:hover .costumtable-item {
  border-top-color: transparent;
}

.costumtable-head:hover + .costumtable-line {
  border-top-color: #000;
}

.costumtable-line:last-child {
  border-bottom: 2px solid #000;
}

.costumtable-line:hover:last-child {
  border-color: #ff2b00;
}

.costumtable-item {
  flex-basis: calc(50% / 3);
  padding: 0.5rem 1rem;
  border-left: 2px solid #000;
  text-align: right;
  white-space: nowrap;
}

.costumtable-item:first-child {
  flex-basis: 50%;
  max-width: 50%;
  overflow: hidden;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.costumtable-item:last-child {
  border-right: 2px solid #000;
}

.costumtable-head {
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  border-color: transparent;
}

.costumtable-head .costumtable-item {
  border-color: transparent;
  padding: 0;
  text-align: left;
}

.section9 {
  margin-bottom: 5rem;
  overflow: hidden;
}

.section9 .section-header {
  margin-bottom: 0.9rem;
}

.section10 {
  margin-bottom: 9.5rem;
}

.section11 {
}

.section11 .container {
  position: relative;
}

.map {
  transition: all 0.2s ease-in-out;
  height: 10rem;
  background: url("../images/map.png") no-repeat center;
  background-size: cover;
}

.map-open .map {
  height: 49rem;
}

.button-map {
  margin-bottom: -4.5rem;
  border: 0;
  width: 8rem;
  height: 9.5rem;
  display: block;
  text-transform: lowercase;
  color: #fff;
  font-weight: bold;
  text-align: left;
  background: url("../images/poly-red.svg") no-repeat center;
  background-size: 115%;
  cursor: pointer;
  outline: none;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.map-open .button-map {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-open .button-map span {
  display: none;
}

.map-open .button-map::before {
  content: "";
  width: 4rem;
  height: 4rem;
  display: block;
  background: url("../images/close.svg") no-repeat center;
  background-size: 100%;
}

.button-map span {
  display: inline-block;
  padding: 1.5rem;
}

.footer {
  background: #000;
  color: #fff;
  padding-top: 2.8rem;
  padding-bottom: 6rem;
}

.footer-header {
  text-transform: uppercase;
  font-size: 2.4rem;
}

.logo-white {
  display: inline-block;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: white;
  opacity: 0.8;
}

.phone-big {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.02em;
}

.copyright {
  margin-top: 4rem;
}

.phone {
  display: block;
  font-weight: bold;
}

.gramota-list {
  margin-right: 6%;
}

.first-work {
  top: 4.5rem;
  right: 28%;
}

.section2 {
  margin-top: -38rem;
  padding-top: 28em;
}

.burger {
  display: none;
}

.menu-tablet {
  display: none;
}

body.menu-open {
  overflow: hidden;
}

body.menu-open .menu-tablet {
  display: flex;
}

.gallery-item {
  color: black;
  text-decoration: none;
  transition: none;
  cursor: url(../images/cursor.svg), pointer;
}

.gallery-item img {
  transition: all 0.5s;
}

.gallery-item.gallery-item-text {
  box-shadow: none !important;
}

.gallery-item img:hover {
  transition: none;
  box-shadow: 0px 0px 4px 1px red;
}

.gramota-list .gallery-item {
  cursor: pointer;
}

.metcom-img-phone,
.metcom-img-tablet {
  display: none;
}

.footer .columns-item .subhead {
  min-height: 8rem;
  display: flex;
  margin: 0;
  align-items: flex-end;
  margin-bottom: 3rem;
  max-width: 13rem;
}

.footer .address {
  min-height: 7rem;
  margin-bottom: 3rem;
}

.footer .phone,
.footer .email {
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer .phone:hover,
.footer .email:hover {
  text-decoration: underline;
}

.flag {
  position: relative;
  top: -6px;
}

.flag-btn {
  position: relative;
  z-index: 4;
  cursor: pointer;
}

.flag-btn {
  position: relative;
  padding: 10px;
  border: 0;
  background: none;
  right: 0;
  width: 4rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.flag-btn::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 6px;
  height: 4px;
  background: url("../images/arrow-down.svg") no-repeat center;
}

.flag-btn::before {
  content: "";
  display: block;
  position: absolute;
  right: -14px;
  width: 6px;
  height: 4px;
  background: url("../images/arrow-down.svg") no-repeat center;
}

.flag-content {
  position: absolute;
  top: -1rem;
  left: -10px;
  display: none;
  background: white;
  padding: 32px 22px 10px 10px;
  z-index: 3;
}

.flag-line {
  display: block;
  cursor: pointer;
}

.flag.open .flag-content {
  display: block;
  background-color: black;
}

.flag.open .flag-btn::before {
  background-image: url("../images/arrow-down-white.svg");
}

.flag-content span {
  visibility: hidden;
}

.flag-line {
  margin-bottom: 1rem;
}

.flag-en::after,
.flag-ru::after,
.flag-fr::after {
  display: block;
  width: 18px;
  height: 12px;
  border: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.flag-en::after {
  background-image: url("../images/usa.svg");
}

.flag-fr::after {
  background-image: url("../images/japan.svg");
}

.flag-ru::after {
  background-image: url("../images/rus.svg");
}

/* галлерея */
.mfp-arrow {
  display: flex !important;
  align-items: center;
}

.mfp-arrow::after {
  display: none;
}

.mfp-arrow::before {
  content: "";
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  border: 0;
  background: url("../images/arrow-slider.svg") no-repeat center;
  background-size: 100% 100%;
}

.mfp-arrow-left:before {
  transform: rotate(180deg);
  margin-left: 0;
}

.mfp-arrow {
  height: 100vh;
  top: 0;
}

.mfp-close {
  position: relative;
  color: transparent !important;
}

.mfp-close::before {
  content: "";
  position: absolute;
  background: url("../images/close-white.svg") no-repeat center;
  width: 30px;
  height: 30px;
  display: block;
  right: -30px;
  bottom: -30px;
}

.mfp-counter {
  position: absolute;
  top: -130px;
  right: -40px;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.mfp-counter span {
  line-height: 1.2;
}

.mfp-counter-separate {
  position: relative;
  width: 30px;
  height: 30px;
}

.mfp-counter-separate::before {
  content: "";
  position: absolute;
  top: 10px;
  display: block;
  width: 34px;
  border-top: 1px solid white;
  transform: rotate(-45deg);
}

.mfp-title {
  font-size: 12px;
  font-weight: bold;
}

.mfp-bottom-bar {
  margin-top: -20px;
}

img.mfp-img {
  padding-top: 0;
}

/* end галлерея  */

/* модальник */

.modal-call {
  max-width: 480px;
  width: 100%;
  background-color: #000;
  padding: 4rem;
  position: relative;
  margin: 0 auto;
}

.modal-call .mfp-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 4rem;
  right: 2rem;
}

.modal-call .mfp-close::before {
  right: 0;
  bottom: 0;
  position: static;
}

.modal-call-head {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.02em;
  color: white;
  margin-top: 0;
}

.modal-call input,
.modal-call textarea {
  display: block;
  padding: 5px 10px;
  background-color: #000;
  border: 0;
  border-bottom: 1px solid #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  outline: none;

  letter-spacing: 0.02em;
  color: #fff;
  width: 100%;
}

.modal-call textarea {
  min-height: 20rem;
}

.btn-default {
  display: inline-block;
  min-height: 46px;
  border: 0;
  background-color: white;
  color: black;
  font-size: 1.6rem;
  padding: 12px 25px;
  cursor: pointer;
  font-weight: bold;
}

.btn-default:hover {
  opacity: 0.7;
}

.modal-line:last-child {
  margin-top: 3rem;
}

/* end модальник */

@media (min-width: 140rem) {
  .advantage-column.col0,
  .advantage-column.col5 {
    position: static;
    margin-top: -5rem;
  }

  .section2 {
    overflow: visible;
  }

  .gramota-list {
    position: relative;
    top: 41rem;
    right: 20.5%;
    margin-right: 0;
    margin-top: 0;
  }

  .first-work {
    top: 6.5rem;
    right: 56.5rem;
  }
}

@media (min-width: 1401px) {
  .container {
    max-width: 175rem;

    padding: 0 9rem;
  }

  .gramota-list {
    margin-right: 21%;
  }

  .header__logo,
  .nav__link {
    margin-right: 7rem;
  }

  .header__logoBlock {
    margin-right: 8rem;
  }

  .section-first__head {
    margin-top: 24rem;
  }

  .advantage-column.col0,
  .advantage-column.col5 {
    position: static;
    margin-top: -6rem;
  }

  .section2 {
    margin-top: -8rem;
    padding-top: 10rem;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 121rem;
  }
}

@media (max-width: 1400px) and (min-width: 1200px) {
  .first-work {
    right: 24%;
  }

  .gramota-list {
    margin-right: 9%;
    margin-top: 34rem;
  }
}

@media (min-width: 1201px) {
  .sequence-col {
    flex-basis: calc(100% / 4);
  }

  .periodic-table-col {
    flex-basis: calc(100% / 14);
  }
}

@media (max-width: 1200px) {
  .advantage-column.col0,
  .advantage-column.col5 {
    margin-top: 0;
    top: -19rem;
  }

  .advantage-column.col0 {
    left: -15rem;
  }

  .advantage-column.col5 {
    top: -10rem;
    right: -15rem;
  }

  .first-work {
    right: 25%;
    margin-right: 0;
  }

  .gramota-list {
    margin-right: 0;
    position: relative;
    right: 15%;
  }
}

@media (min-width: 1060px) {
  .header-fix .header {
    position: fixed;
  }
}

@media (max-width: 1060px) {
  .container {
    padding: 0 2rem;
  }

  .header__logo {
    max-width: 18rem;
  }

  .header__container {
    justify-content: space-between;
  }

  .burger {
    padding: 0;
    bottom: 0;
    display: block;
    width: 4rem;
    height: 4rem;
    border: 0;
    background: url("../images/burger.svg") no-repeat center;
    background-size: 3rem 3rem;
    cursor: pointer;
  }

  .burger:hover {
    background-image: url("../images/burger-red.svg");
  }

  .menu-tablet {
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #000;
    color: #fff;
  }

  .menu-tablet-footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    flex-basis: 30rem;
  }

  .menu-table .copyright {
    margin-top: 3rem;
  }

  .menu-tablet .phone {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 3.3rem;
    line-height: 4rem;
    letter-spacing: 0.02em;
  }

  .menu-tablet .email {
    display: inline-block;
    padding-top: 1rem;
    color: #fff;
    text-decoration: none;
  }

  .menu-tablet .logo {
    display: block;
    max-width: 16rem;
  }

  .menu-tablet-header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;
  }

  .menu-tablet-close {
    display: block;
    width: 4rem;
    height: 4rem;
    margin-top: 0.8rem;
    border: 0;
    background: url("../images/close.svg") no-repeat center;
    background-size: 2rem 2rem;
    cursor: pointer;
  }

  .menu-tablet .nav {
    padding: 2rem;
    flex-wrap: wrap;
    max-width: 70%;
  }

  .menu-tablet .nav__link {
    color: white;
    font-size: 2.3rem;
    width: 20rem;
    max-width: 100%;
    min-height: 3rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  .menu-tablet .nav__link:hover {
    border-color: transparent;
    opacity: 0.8;
  }

  .header__navBlock {
    display: none;
  }

  .metcom-img {
    display: none;
  }

  .metcom-img-tablet {
    display: block;
    margin-top: 4rem;
  }

  .section-first__head {
    max-width: 200%;
    width: 200%;
    margin-left: -2rem;
    margin-top: 27rem;
    margin-right: -2rem;
    background: rgba(255, 255, 255, 0.6);
  }

  .section-first__head div {
    max-width: 57rem;
    background: none;
  }

  .gramota-list {
    position: absolute;
    right: 1.7rem;
    top: 17rem;
    margin-right: 8%;
  }

  .section-first {
    margin-bottom: 0;
  }

  .advantage {
    flex-wrap: wrap;
  }

  .advantage-column {
    flex-basis: calc(33.33% - 2rem);
  }

  .advantage-column.col2 {
    /* display: none; */
  }

  .polyhed {
    right: -2rem;
    left: auto;
  }

  .section2 {
    margin-top: -15rem;
  }

  .section2 .polyhed {
    right: 4rem;
    bottom: -6.5rem;
  }

  .advantage-column.col1 {
    order: -1;
  }
  .advantage-column.col5 {
    order: 0;
    top: 38.5rem;
  }

  .advantage-column.col3 {
    order: 1;
  }

  .advantage-column.col4 {
    order: 2;
    margin-left: calc(33.33% + 1rem);
    margin-top: 4rem;
  }

  .first-work {
    top: 8.5rem;
    right: 21%;
  }

  .advantage-production .advantage-column:nth-child(3) {
    order: 3;
    margin-top: -4rem;
  }

  .periodic-table {
    border: 0;
    padding-top: 2px;
  }

  .periodic-table-container {
    flex-wrap: wrap;
    overflow: hidden;
  }

  .periodic-table-col {
    flex-basis: calc(100% / 7 - 2px);
    margin-bottom: 2rem;
    position: relative;
    margin-top: 0;
    border-right-color: #000;
  }

  .periodic-table-col::before,
  .periodic-table-col::after {
    content: "";
    border-top: 2px solid #000;
    width: 1000rem;
    position: absolute;
    left: -500rem;
  }

  .periodic-table-col::before {
    top: -2px;
  }

  .periodic-table-col::after {
    bottom: -2px;
  }

  .columns-table-full {
    flex-wrap: wrap;
  }

  .columns-table-full > .columns-item {
    flex-basis: 100%;
    margin-right: 0;
  }

  .columns-table-full > .columns-item:last-child {
    margin-right: 0;
  }

  .section6 {
    margin-bottom: 10rem;
  }

  .section8 {
    margin-bottom: 8rem;
  }

  .columns-text {
    min-height: 0rem;
  }

  .columns-table-tree .columns-item {
    flex-basis: calc(33.33% - 1.5rem);
    margin-bottom: 0;
  }

  .columns-table-tree .columns-item:last-child {
    margin-right: 0;
  }

  .costumtable-left-border .costumtable-line:last-child:after,
  .costumtable-left-border .costumtable-head:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: initial;
    right: -1000rem;
    width: 1000rem;
    border-top: 2px solid #000;
  }

  .costumtable-right-border .costumtable-head:before,
  .costumtable-right-border .costumtable-line:last-child:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    right: initial;
    left: -1000rem;
    width: 1000rem;
    border-top: 2px solid #000;
  }

  .footer .columns-footer {
    flex-wrap: wrap;
  }

  .footer .columns-footer > .columns-item {
    flex-basis: 100%;
    margin-right: 0;
  }

  .columns-item-second {
    margin-top: 8rem;
  }

  .footer .address {
    margin-bottom: 1rem;
  }

  .footer .columns-item .footer-header {
    margin-top: 4rem;
  }

  .section-first {
    /* overflow: hidden; */
  }

  .sequence {
    position: relative;
    flex-wrap: wrap;
    margin-bottom: -2px;
  }
  .sequence-col {
    margin: 0 -1px;
    flex-basis: 50%;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
  }

  .sequence-col-last {
    display: block;
  }

  .polyhed-sequence {
    right: -1rem;
    bottom: -18rem;
    top: auto;
  }
}

@media (max-width: 760px) {
  .section-first__head {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  .section5 {
    margin-bottom: 4rem;
  }

  .section7 {
    margin-bottom: 10rem;
  }

  .section-first__head div {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .gramota-list {
    top: 15rem;
  }

  .advantage-column {
    flex-basis: calc(50% - 4rem);
  }

  .advantage-column.col3 {
    margin-top: 9rem;
  }

  .advantage-column.col4 {
    width: 100%;
    margin-left: 1rem;
    flex-basis: 100%;
  }

  .advantage-production .advantage-column:nth-child(3) {
    margin-top: 4rem;
  }

  .advantage-column.advantage-column-head,
  .advantage-production .advantage-column:nth-child(3) {
    flex-basis: 100%;
    margin-top: 2rem;
  }

  .section4 {
    margin-top: 4rem;
  }
}

@media (max-width: 560px) {
  .menu-tablet-footer {
    flex-direction: column;
    flex-basis: 0;
  }
}

@media (max-width: 480px) {
  .mfp-close::before {
    right: 6px;
    bottom: 10px;
  }

  .mfp-counter {
    flex-direction: row;
    top: -10px;
    right: 0;
    font-size: 16px;
  }

  .mfp-counter-separate {
    width: 22px;
    height: 22px;
  }

  .mfp-counter-separate::before {
    width: 20px;
  }

  .mfp-arrow {
    top: 50%;
    height: 50px;
  }

  .mfp-arrow::before {
    background-color: rgba(0, 0, 0, 0.7);
    background-size: 80% 80%;
  }

  .mfp-title {
    margin-top: 10px;
  }

  .zindex-logo:before {
    top: -15rem;
    right: -53rem;
  }

  .metcom-img-tablet,
  .metcom-img {
    display: none;
  }

  .metcom-img-phone {
    display: block;
    width: 109%;
  }

  .first-work {
    top: 6.5rem;
  }

  .section-first__head {
    margin-top: 52rem;
    margin-left: -2rem;
    width: inherit;
    max-width: inherit;
    margin-right: -2rem;
    padding: 2rem 2rem;
    background: rgba(255, 255, 255, 0.6);
  }

  .section-first__head div {
    padding: 0;
    background: none;
  }

  .zindex-text .container {
    flex-direction: column;
  }

  .gramota-list {
    position: static;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 40%;
    max-width: 60%;
  }

  .section2 {
    margin-top: 6rem;
  }

  .advantage {
    flex-direction: column;
    margin: 0;
  }

  .advantage .advantage-column {
    position: static;
    flex-basis: 100%;
    width: 100%;
    min-height: 23rem;
    order: 1;
    margin: 0 0 2rem 0;
  }

  .advantage .advantage-column.col1 {
    position: relative;
    margin-bottom: 8rem;
  }

  .advantage .advantage-column.col0,
  .advantage .advantage-column.col1,
  .advantage .advantage-column.col2,
  .advantage .advantage-column.col5 {
    margin-left: -2rem;
    margin-right: -2rem;
    flex-basis: inherit;
    width: inherit;
  }

  .advantage .advantage-column.col2 {
    margin-bottom: 4rem;
  }

  .advantage .advantage-column.col3,
  .advantage .advantage-column.col4 {
    min-height: inherit;
    margin-bottom: 4rem;
  }

  .section2 .polyhed {
    right: inherit;
    left: 1rem;
  }

  .advantage-production .advantage-column {
    min-height: inherit;
    height: inherit;
  }

  .advantage-production .advantage-column:nth-child(3) {
    margin-top: 0;
    order: 1;
    margin-bottom: 8rem;
  }

  .section4 {
    margin-top: 3rem;
    margin-bottom: 22rem;
  }

  .periodic-table-col {
    flex-basis: 50%;
  }

  .periodic-one {
    margin: 2rem 0;
  }

  .section5 .columns {
    flex-wrap: wrap;
  }

  .section5 {
    margin-bottom: 6rem;
  }

  .section5 .columns > div {
    flex-basis: inherit;
  }

  .periodic-multiline {
    margin-bottom: 2rem;
  }

  .columns {
    flex-wrap: inherit;
    flex-direction: column;
  }

  .columns-table-tree .columns-item:last-child,
  .columns-table-tree .columns-item {
    flex-basis: inherit;
    margin-right: -2rem;
    margin-left: -2rem;
    margin-bottom: 2rem;
  }

  .columns-item img {
    width: 100%;
  }

  .section6 {
    margin-bottom: 6rem;
  }

  .section7 {
    margin-bottom: 8rem;
  }

  .section8 {
    margin-bottom: 6rem;
  }

  .columns-logistic > div {
    flex-basis: inherit;
  }

  .columns-table-full .columns > div {
    margin-right: 0;
  }

  .costumtable-line {
    flex-wrap: wrap;
  }

  .costumtable-item {
    flex-basis: calc(100% / 3);
  }

  .costumtable-item:first-child {
    flex-basis: 100%;
    max-width: 100%;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
  }

  .costumtable-head .costumtable-item:first-child {
    display: none;
  }

  .section9 {
    margin-bottom: 8rem;
  }

  .section10 {
    display: none;
  }

  .map {
    height: 10rem;
  }

  .footer .columns-item .subhead.logo-white {
    margin-bottom: 4rem;
  }

  .footer .columns-item .subhead {
    margin-bottom: 1rem;
    min-height: 0;
  }

  .columns-item-second {
    margin-top: 0;
  }

  .columns-footer .columns-item {
    margin-bottom: 4rem;
  }

  .footer .address {
    margin-bottom: 0;
  }

  .footer .columns-item .footer-header {
    margin-top: 0;
  }

  .footer .columns-footer > .columns-item {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .polyhed {
    right: 1rem;
  }

  .polyhed-sequence {
    right: -1rem;
  }

  .costumtable2 .costumtable-item {
  }
}
